/* Đặt màu nền cho các ô của lịch */

.rbc-time-view {
    background-color: #ffffff;
}

/* Đặt màu cho các ô hiện tại */

.rbc-month-view {
    background-color: white;
    border-radius: 0.37rem
}


/* CalendarComponent.css */

/* Tô màu cho các ngày có booking */
.rbc-event {
    background-color: #d1fae5 !important; /* Màu nền cho sự kiện */
    border: none; /* Xóa viền */
    color: #000; /* Màu chữ */
  }
  
  /* Tô màu cho ô ngày khi có sự kiện */
  .rbc-day-slot .rbc-event {
    background-color: #d1fae5 !important; /* Màu nền cho ô ngày */
  }
  
  /* Bạn có thể tùy chỉnh thêm các thuộc tính khác nếu cần */
  