/* src/styles/layout.css */
.layout-background {
    background-image: url("../../../assets/image/de760657-0503-47fb-9ccb-6e1ba8634d97.png"); /* Đường dẫn tới hình ảnh */
    min-height: 100vh; /* đảm bảo layout full màn hình */
    padding: 20px;
  }
