/* src/styles/layout.css */
.layout-background {
    background-image: url("../../../assets/image/depositphotos_88462434-stock-illustration-pattern-on-the-theme-of.jpg"); /* Đường dẫn tới hình ảnh */
    min-height: 100vh; /* đảm bảo layout full màn hình */
    padding: 20px;
  }
